.icon{
    color:#537f7d;
}

.logo {
    width: 95px;
    display: block;
    margin: 2rem auto;
    margin-top: -20px;
}


.position{
    position: relative;
    top: 150px;
    align-self: center;
}

.position2{
    position: relative;
    top: 70px;
    left: 5px;
    width: 55px !important;
    height: 55px !important;
    float: left;
    display: flex;
    align-items: left;
    justify-content: left;
    
};

.icon2{
    flex-basis: 10%;
}

.text2{
    padding-left: 20px;
}


