.main {
  display: flex;
  flex-direction: column;
  margin-left: 230px;
  padding: 5rem;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact ul {
  list-style: none;
  padding-left: 0;
  font-size: 1.25rem;
  line-height: 1.7;
}

.about {
  width: 400px;
  background-color: #E8E4E6;
  color: #001E1D;
  padding: 2rem;
  border-radius: 1.5rem;
}

.about h1 {
  margin-top: 0;
  text-align: center;
}

.about p {
  margin-bottom: 0;
}

.faq div {
  font-size: 1.25rem;
  line-height: 1.7;
}

.faq details p {
  margin: 0;
  background: #004643;
  border-radius: 10px;
  padding: 0 .5rem;
  font-size: 1rem;
}
