.btn {
  font-family: 'Open Sans', sans-serif;
  text-transform: unset;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 0.75rem;
  cursor: pointer;
  text-indent: 3px;
}

.red {
  background-color: #de5246;
  color: white;
}

.yellow {
  background-color: #f9bc60;
  color: black;
}

.blue {
  background-color: #4267b2;
  color: white;
}

.wheet {
  background-color: #e8e4e6;
  color: #e16162;
}
