.featuredChart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rectangle{
    width: 10px;
    height: 10px;
    background-color: #e16162;
    margin-top: 20px;
    margin-right: 10px;
}

.pos{
    display: flex;
}