.title {
  color: #e8e4e6;
}

.header {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.searchBox {
  background-color: #004643;
  border-radius: 5px;
  margin-right: 1.5rem;
  display: flex;
}

.searchBox button {
  color: rgb(232, 228, 230, 0.5);
}

.searchBox input {
  color: #e8e4e6;
  padding-left: 10px;
}

.data {
  margin-right: 1.5rem;
  display: flex;
  width: 150px;
  background-color: #004643;
  border-radius: 5px;
}
