.btns {
  display: flex;
  flex-direction: column;
  gap: .45rem;
}

.right {
  text-align: right;
  line-height: 1;
  margin-top: -.5rem;
  color: #f9bc60;
}

.center {
  text-align: center;
  line-height: 1;
}

.center a {
  color: #f9bc60;
}
