h2 {
  margin: 0;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1rem;
}

.label {
  font-weight: bold;
}

.terms {
  font-size: 0.83rem;
}

.sign {
  text-align: center;
}

.link {
  color: #f9bc60;
  text-decoration: none;
  cursor: pointer;
}
