h2 {
  margin: 0;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1rem;
}

.label {
  font-weight: bold;
}

.terms {
  font-size: 0.83rem;
}

.sign {
  text-align: center;
}

.terms,
.btn,
.sign {
  /* transform: translateY(-1rem); */
}
