.title {
  margin: 0;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1;
}

.tos {
  font-size: 0.8rem;
  line-height: 1.2;
}

.tos a {
  color: #4d73fb;
}

.signin {
  text-align: center;
  line-height: 1;
}

.signin a {
  color: #f9bc60;
}
