.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #004643;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1.5rem;
}

.listItem > * {
  width: calc(85% / 4);
  color: rgb(221, 219, 219);
  word-wrap: break-word;
}

.time {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 16rem;
}

.time > * {
  width: 45%;
}

.checkboxes {
  display: flex;
  justify-content: space-around;
  width: 15rem;
}

.checkbox {
  width: 5%;
  background-color: #e16162;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 16rem;
  background-color: #004643;
  border-radius: 5px;
}

.date > * {
  width: 45%;
}
