.main {
  margin-left: 230px;
  padding: 2rem;
}

.name {
  font-size: 2.5rem;
  margin: 2rem 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 1rem;
  background: #004643;
}

.form h2 {
  margin-top: 0;
  line-height: 1;
}

.personal-data {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.upload {
  position: relative;
  width: 250px;
  height: 250px;
  background: #003634;
  border-radius: 50%;
}

.upload svg {
  position: absolute;
  top: calc(calc(250px - 2rem) / 2);
  left: calc(calc(250px - 2rem) / 2);
  color: #abd1c6;
  width: 2rem;
  height: 2rem;
  z-index: 1;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}

.inner input::file-selector-button {
  width: 100px;
  height: 100px;
  color: transparent;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.personal-data .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 45%;
}

.personal-data .top {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.personal-data .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 1000px) {
  .right {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .personal-data {
    flex-direction: column;
    align-items: center;
  }
  .top {
    flex-direction: column;
  }
}

.change {
  display: flex;
  flex-direction: row;
}

.change-email {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 45%;
}

.change-password {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 45%;
}
