.bg {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-size: 100%;
  z-index: -1;
}

.container {
  background: #E8E4E6;
  margin: 1rem auto;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
}
