.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 5px;
}

.btn svg {
  width: fit-content;
  margin-right: .5em;
}

.yellow {
  background: #f9bc60;
  color: inherit;
}

.red {
  background: #de5246;
  color: white;
}

.blue {
  background: #4267b2;
  color: white;
}
