.listItem {
  display: flex;
  align-items: center;
  background-color: #004643;
  width: 100%;
  margin-bottom: 0.5rem;
}

.listItem > * {
  width: calc(85% / 4);
  color: rgb(221, 219, 219);
  word-wrap: break-word;
  padding: 1rem 0;
  padding-right: 0.5rem;
}

.checkbox {
  width: 5%;
  background-color: #e16162;
}

.menuBtn {
  transform: rotate(90deg);
  height: 5%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.fav {
  width: 5%;
}

.date {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.date span {
  margin-right: 0.5rem;
  padding-top: 0.2rem;
}

.status {
  border-radius: 16px;
  text-align: center;
  padding: 0.4rem 0;
  width: calc(85% / 4);
  text-transform: capitalize;
}

.status.opened {
  background-color: #2f6352;
  color: rgb(236, 233, 233);
}

.status.closed {
  background-color: rgba(102, 88, 67, 0.5);
  color: #f9bc60;
}

.status.canceled {
  background-color: rgba(112, 72, 72, 0.5);
  color: #e16162;
}
