.main {
  margin-left: 230px;
  padding: 2rem;
}

.main * {
  overflow: hidden;
}

.name {
  font-size: 2.5rem;
  margin: 2rem 1rem;
}

.listItems {
  width: 95%;
  padding: 0;
  padding-top: 10;
  margin: 0 auto;
}

.listFields {
  display: flex;
  border-bottom: 2px solid #bab9ba;
  padding-bottom: 0.2rem;
  margin-bottom: 0.5rem;
}

.listFields div {
  width: 80%;
  color: #bab9ba;
}

.itemGrid {
  color: #bab9ba;
  padding-left: 2rem;
}

.more {
  position: relative;
  float: right;
  display: flex;
  right: 20px;
}

.pageName {
  padding-top: -30%;
}

.img {
  width: 80px;
  height: 80px;
}

.reports {
  width: 480px;
  height: 180px;
  margin-left: 80px;
}

.analytics {
  width: 230px;
  height: 180px;
  margin-left: 80px;
}

.list {
  margin-top: 10px;
  margin-left: 10px;
  color: black;
  list-style-type: none;

}

.list li {
  color: aliceblue;
  list-style-type: none;
}

.box {
  display: flex;
  width: 200;
  height: 70;
}

.divider {
  margin: 8px !important;
  background: #447e77;
}
